<<<<<<< HEAD
#countries tr.r1 {
	border-bottom: 2px solid black;
	font-weight: bold;
}
=======
#countries tr.r1 {
	border-bottom: 2px solid black;
	font-weight: bold;
}
>>>>>>> b5c638e (init site)
